*/config/development
application/config/email.php
application/config/database.php
application/config/config.php
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
composer.lock
vendor
