#site_info p {
    font-size:small!important;
}

.sponsor {
    margin: 0 auto;
   /* display: block;*/
    margin-bottom: 20px
}
.hfloat {
    float: right;
    padding-right: 8px
}
.box  img {
	/*width:100%;*/
}
ul.nav, ul.nav li a, #site_info .box {
    background: #443266;
    font-size:12px;
}
ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#fff; background:#8C489F;}
ul.nav li a:active {color:#000 !important; background:#F1F0FF !important;}
ul.nav li:hover ul {left:0;z-index:10}

ul.main li:hover ul li a:hover {
    background: #443266;
    color: #fff;
}
/*
ul.nav li ul,
ul.nav li:hover ul li a li.secondary {color:#eee;}
ul.nav li:hover ul li li.secondary   {color:#fff; background:#8C489F;}
ul.nav li:active ul li li.secondary    {color:#000; background:#F1F0FF !important;}
*/
.box a {
    text-decoration: underline;
}
.box ul li, ol  {
    font-size:15px;
}
.box {
    background: #F4F4F0
}
.box  p {
    margin-left:5px;
    font-size:15px;
}
.box h3 {
    color:  #443266;
    font-size:18px;
}
.box h2 a {
    background: #443266;
}
#tables th.table-head {
    background: #46444F
}
#tables thead th {
    background: #EEEDE9
}
#section-menu .menuitem {
    background: #E4E4E4
}
#section-menu ul.section li li a {
    background: #F4F4F0
}
#tables .fixed {
	width: 25%
}

/*

343B4C
464F66
4F5973
7A8AB2
A6BCF2

http://www.colorcombos.com/color-schemes/14/ColorCombo14.html
*/
